<div class="container" fxLayout="row" fxLayoutAlign="center center" *ngIf="true">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Reservar Restaurante</mat-card-title>
      </mat-card-header>
  
      <form  class="example-form" [formGroup] = "form" (ngSubmit)="existeClient()" >
  
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Cédula" minlength ="10" required="true" formControlName="cedula" >
          </mat-form-field>
          <div class="container-error-message" *ngIf="!validador && form.value?.cedula?.length==10" class="text-danger">Cedula Invalida</div>

          <div class="alert-danger" *ngIf ="cedula?.invalid && (cedula?.dirty || cedula?.touched)" >
  <div class="container-error-message" *ngIf="cedula?.errors?.required">
  Este campo es requerido
  </div>
  <div class="container-error-message" *ngIf="cedula?.errors?.minlength || cedula?.errors?.maxlength">
  Este campo únicamente acepta 10 caracteres.
  </div>

</div>

        </mat-card-content>
  
        <button  type="submit"  [disabled]="form.invalid" mat-stroked-button color="accent" class="btn-block" *ngIf="display">Aceptar</button>
  
      </form>
      <form  class="example-form" *ngIf= "existeCli" [formGroup] = "form1" (ngSubmit)="existeRestaurante()">
  
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Ingrese el nombre del restaurante"   formControlName="nombre">
          </mat-form-field>
          <div class="alert-danger" *ngIf ="nombre?.invalid && (nombre?.dirty || nombre?.touched)" >
            <div class="container-error-message" *ngIf="nombre?.errors?.required">
            Este campo es requerido
            </div>
            <div class="container-error-message" *ngIf="nombre?.errors?.pattern">
             Solo se permiten letras en este campo
            </div>
        </div>
        </mat-card-content>
  
        <button  type="submit"  [disabled]="form1.invalid" mat-stroked-button color="accent" class="btn-block" *ngIf="display">Aceptar</button>
  
      </form>

      <form  class="example-form" *ngIf= "existeRestaurant" [formGroup] = "form2" (submit)="crearResv()">
  
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Fecha de la reservación" formControlName="fecha" type="date">
          </mat-form-field>
          <div class="alert-danger" *ngIf ="fecha?.invalid && (fecha?.dirty || fecha?.touched)" >
            <div class="container-error-message" *ngIf="fecha?.errors?.required">
            Este campo es requerido
            </div>
        </div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Hora de la reservación"  formControlName="hora" type="time">
          </mat-form-field>
          <div class="alert-danger" *ngIf ="hora?.invalid && (hora?.dirty || hora?.touched)" >
            <div class="container-error-message" *ngIf="hora?.errors?.required">
            Este campo es requerido
            </div>
        </div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Número de personas"  formControlName="numPersonas">
          </mat-form-field>
          <div class="alert-danger" *ngIf ="numPersonas?.invalid && (numPersonas?.dirty || numPersonas?.touched)" >
            <div class="container-error-message" *ngIf="numPersonas?.errors?.required">
            Este campo es requerido
            </div>
              <div class="container-error-message" *ngIf="numPersonas?.errors?.pattern">
                Solo se admiten números en este campo
                </div>
                <div class="container-error-message" *ngIf="numPersonas?.errors?.min">
                  El aforo debe ser igual o mayor a 1
                  </div>
        </div>
        </mat-card-content>
  
        <button  type="submit"  [disabled]="form2.invalid" mat-stroked-button color="accent" class="btn-block">Reservar</button>
  
      </form>
    </mat-card>


  </div>


 