<div class="container" fxLayout="row" fxLayoutAlign="center center" *ngIf="true">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Reservar Restaurante</mat-card-title>
      </mat-card-header>
  
      <form  class="example-form" [formGroup] = "form" (submit)="existeClient()" >
  
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Cédula" minlength ="10" required="true" formControlName="cedula" >
          </mat-form-field>

        </mat-card-content>
  
        <button mat-stroked-button color="accent" class="btn-block">Aceptar</button>
  
      </form>
      <form  class="example-form" *ngIf= "existeCli" [formGroup] = "form1" (submit)="existeRestaurante()">
  
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Ingrese el nombre del restaurante"   formControlName="nombre">
          </mat-form-field>

        </mat-card-content>
  
        <button mat-stroked-button color="accent" class="btn-block">Aceptar</button>
  
      </form>

      <form  class="example-form" *ngIf= "existeRestaurant" [formGroup] = "form2" (submit)="crearResv()">
  
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Fecha de la reservación" formControlName="fecha" >
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Hora de la reservación"  formControlName="hora">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Número de personas"  formControlName="numPersonas">
          </mat-form-field>
        </mat-card-content>
  
        <button mat-stroked-button color="accent" class="btn-block">Reservar</button>
  
      </form>
    </mat-card>


  </div>


 