<div class="container" fxLayout="row" fxLayoutAlign="center center" *ngIf="true">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Reservar Restaurante</mat-card-title>
      </mat-card-header>
  
      <form  class="example-form" [formGroup] = "form" (submit)="existeClient()" >
  
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Cédula" minlength ="10" required="true" formControlName="cedula" >
          </mat-form-field>

        </mat-card-content>
  
        <button mat-stroked-button color="accent" class="btn-block">Buscar</button>
  
      </form>
      <form  class="example-form" *ngIf= "existeCli" [formGroup] = "form1" (submit)="existeRestaurante()">
  
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Ingrese el nombre del restaurante"   formControlName="nombre">
          </mat-form-field>

        </mat-card-content>
  
        <button mat-stroked-button color="accent" class="btn-block">Buscar</button>
  
      </form>

      <form  class="example-form" *ngIf= "existeRestaurant">
  
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Ingrese la fecha de la reservación"  >
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Ingrese la hora de la reservación"  >
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Ingrese el número de personas"  >
          </mat-form-field>
        </mat-card-content>
  
        <button mat-stroked-button color="accent" class="btn-block">Reservar</button>
  
      </form>
    </mat-card>


  </div>


 