<div class="container" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Reservas del Restaurante</mat-card-title>
      </mat-card-header>
      <form [formGroup] = "form" (ngSubmit)="reservasRestaurantFecha()" class="example-form" >
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Ingrese la fecha" formControlName="fecha" type="date">
          </mat-form-field>
          <div class="alert-danger" *ngIf ="fecha?.invalid && (fecha?.dirty || fecha?.touched)" >
            <div class="container-error-message" *ngIf="fecha?.errors?.required">
            Este campo es requerido
            </div>
        </div>
        </mat-card-content>
        <button  type="submit"  [disabled]="form.invalid" mat-stroked-button color="accent" class="btn-block">Ver Reservas</button>
      </form>

      <form [formGroup] = "form1" (ngSubmit)="reservasRestaurantNombre()" class="example-form" >
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Ingrese el nombre del restaurante" formControlName="nombre">
          </mat-form-field>
          <div class="alert-danger" *ngIf ="nombre?.invalid && (nombre?.dirty || nombre?.touched)" >
            <div class="container-error-message" *ngIf="nombre?.errors?.required">
            Este campo es requerido
            </div>
            <div class="container-error-message" *ngIf="nombre?.errors?.pattern">
             Solo se permiten letras en este campo
            </div>
        </div>
        </mat-card-content>
        <button  type="submit"  [disabled]="form1.invalid" mat-stroked-button color="accent" class="btn-block">Ver Reservas</button>
      </form>  
  


  <table mat-table [dataSource]="reservas" class="mat-elevation-z8 demo-table" *ngIf="display"> 
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let reserva"> {{reserva.id}} </td>
      </ng-container>
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha de la reserva </th>
      <td mat-cell *matCellDef="let reserva"> {{reserva.fecha}} </td>
    </ng-container>
    <ng-container matColumnDef="hora">
        <th mat-header-cell *matHeaderCellDef> Hora de la reserva </th>
        <td mat-cell *matCellDef="let reserva"> {{reserva.hora}} </td>
      </ng-container>
      <ng-container matColumnDef="numPersonas">
        <th mat-header-cell *matHeaderCellDef> Número de Personas </th>
        <td mat-cell *matCellDef="let reserva"> {{reserva.numPersonas}} </td>
      </ng-container>
      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef> Cliente </th>
        <td mat-cell *matCellDef="let reserva"> {{reserva.persona.nombre}}  {{reserva.persona.apellido}}</td>
      </ng-container>
      <ng-container matColumnDef="restaurante">
        <th mat-header-cell *matHeaderCellDef> Restaurante </th>
        <td mat-cell *matCellDef="let reserva"> {{reserva.restaurante.nombre}} </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
    </mat-card>
  </div>